<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1><%=data.greeting%></h1>
    <h2><%=data.title%></h2>
    <p><%=data.paragraph%></p>
    <%- include('partials/footer') %>
</body>
</html>
